#include "../../version.properties"

MARKETING_VERSION = $(APP_VERSION_NAME)
CURRENT_PROJECT_VERSION = $(APP_VERSION_CODE)
PRODUCT_BUNDLE_IDENTIFIER = com.restart.spacestationtracker.ios.dev
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

ISS_TRACKER_ADS_ENABLED = YES
ISS_TRACKER_ADMOB_APP_ID = ca-app-pub-3940256099942544~1458002511
ISS_TRACKER_BANNER_AD_UNIT_ID = ca-app-pub-3940256099942544/2435281174
ISS_TRACKER_APP_OPEN_AD_UNIT_ID = ca-app-pub-3940256099942544/5575463023
ISS_TRACKER_PASSES_NATIVE_AD_UNIT_ID = ca-app-pub-3940256099942544/3986624511
ISS_TRACKER_CREW_NATIVE_AD_UNIT_ID = ca-app-pub-3940256099942544/3986624511
ISS_TRACKER_APP_STORE_URL = https:/$()/apps.apple.com/app/id6803000019
ISS_TRACKER_N2YO_API_KEY =

#include? "Local.xcconfig"
